<div class="row">
  <div class="col-4"></div>

  <div class="col-4">
    <div class="input-group input-group-sm centralizar">
      <form #f="ngForm" (ngSubmit)="resposta()" novalidate>
        <input 
          [(ngModel)]="descricao"
          type="text" 
          name="valor"
          autocomplete="off"
          placeholder="Descrição"
          class="form-control" 
          aria-label="Sizing example input" 
          aria-describedby="inputGroup-sizing-default"
        >
      </form>
    </div>
  </div>

  <div class="col-4"></div>
</div>