<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{item.nomenclatura}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <p> Desconto: {{item.origemDesconto}} </p>
    <p> Preço de: {{item.precoDe}} </p>
    <p> Preço por: {{item.precoPor}} </p>
    <p> Nomenclatura detalhada: {{item.nomenclaturaDetalhada}} </p>
    <p> Princípio ativo: {{item.principioAtivo}} </p>
    <p> Classe terapeutica: {{item.classeTerapeutica}} </p>
    <p> Situação: {{item.situacaoItem}} </p>

    <app-lista-advertencia [listaAdvertencias]="item.advertencias"></app-lista-advertencia>
    <app-tabela-categoria [listaCategorias]="item.categorias"></app-tabela-categoria>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>