<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{item.nomenclatura}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <p> Desconto: {{item.origemDesconto}} </p>
    <p> Preço de: {{item.precoDe}} </p>
    <p> Preço por: {{item.precoPor}} </p>
    <p> Nomenclatura detalhada: {{item.nomenclaturaDetalhada}} </p>
    <p> Princípio ativo: {{item.principioAtivo}} </p>
    <p> Classe terapeutica: {{item.classeTerapeutica}} </p>
    <p> Situação: {{item.situacaoItem}} </p>

    <app-lista-advertencia [listaAdvertencias]="item.advertencias"></app-lista-advertencia>
    <div> 
      Categorias:
      <table class="table">   
        <thead>
          <tr class="titulos cor-letra">
            <th scope="col">Nível</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categ of item.categorias">
            <td> {{categ.nivel}} </td>
            <td> {{categ.descricao}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</div>