<div class="col"></div>

<div class="col">
  <div class="fixar scroll">
    <table class="table">   
      <thead>
        <tr class="titulos cor-letra">
          <th scope="col" class="fundo">Código</th>
          <th scope="col">Estoque</th>
          <th scope="col">Preço</th>
          <th scope="col">Descrição</th>
          <th scope="col">EAN</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaItens">
          <td> {{item.codigoItem}} </td>
          <td> {{item.estoqueLoja}} </td>
          <td> {{item.precoPor}} </td>
          <td> {{item.nomenclaturaVarejo}} </td>
          <td> {{item.ean}} </td>
          <td>
            <button type="button" ngbAutofocus class="btn botao" (click)="modal.close('Ok click')"> Mais detalhes </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>

<div class="col"></div>